
.title
  font-size: 20px
  margin: 0 auto
  color: #42a5f6

.user
  display: flex
  margin-top: 20px
  align-items: flex-end

.img
  width: 30px
  height: 30px
  margin-right: 10px

.state
  margin-top: 20px
  padding: 10px
  line-height: 10px

  display: inline-block
  box-sizing: border-box

.open
  background: green
  color: white

.closed
  background: red
  color: white

.body
  width: 400px
  margin-top: 20px


  box-sizing: border-box
