._2S2Gj {
  position: absolute;
  width: 600px;
  height: 30px;
  line-height: 30px;
  background: #f00;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 20px;
  border-radius: 5px;
}
._35X-6 {
  width: 1200px;
  margin: 100px auto 0;
}
._14gAe {
  width: 400px;
  outline: none;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
}
._2gbxY {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  background: #1bbbdb;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  border-radius: 4px;
}
._3zAgH {
  margin: 0 auto;
  text-align: center;
  margin-top: 30px;
}
._3TkHf {
  width: 100%;
  margin-bottom: 40px;
}
._2YGP1 {
  color: #808080;
}
._1UW4P {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
._1Hnea {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  text-decoration: none;
  color: #1bbbdb;
  margin-bottom: 10px;
}
.MWG-k {
  color: #808080;
  text-decoration: none;
}
._3YExc {
  display: -ms-flexbox;
  display: flex;
}
._1Pw2N {
  width: 50%;
}
._31apf {
  cursor: pointer;
  margin-left: 8px;
}
._1WzeF,
._3z5bu {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
._2qI31,
._3JN1I {
  color: #808080;
  margin-right: 10px;
  cursor: default;
}
._1xvfg {
  color: #1bbbdb;
  cursor: pointer;
}
._1H1pA {
  font-size: 20px;
  margin: 0 auto;
  color: #42a5f6;
}
.Q4tTY {
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-align: end;
      align-items: flex-end;
}
._3Ht5O {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
._2TXFw {
  margin-top: 20px;
  padding: 10px;
  line-height: 10px;
  display: inline-block;
  box-sizing: border-box;
}
._1mmo1 {
  background: #008000;
  color: #fff;
}
._3VkyO {
  background: #f00;
  color: #fff;
}
.qaGMY {
  width: 400px;
  margin-top: 20px;
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*# sourceMappingURL=csssr.css.map*/