.container
  display: flex

.column
  width: 50%

.count
  cursor: pointer
  margin-left: 8px


.paginationContainer
.countContainer
  display: flex
  margin-bottom: 10px

.back
.next
  color: gray
  margin-right: 10px
  cursor: default


.active
  color: #1bbbdb
  cursor: pointer
