.container
  width: 100%

  margin-bottom: 40px

.title
  color: gray

.img
  width: 30px
  height: 30px
  margin-right: 10px

.user
  display: flex

  align-items: flex-end

  text-decoration: none

  color: #1bbbdb

  margin-bottom: 10px

.issue
  color: gray
  text-decoration: none
